.card {
    margin: 100px;
    h1 {
        text-align: center;
        margin-top: 80px;
    }

    h2 {
        text-decoration: underline;
    }

    p {
        font-weight: bold;
    }

    span {
        font-weight: 300;
    }

    .indent {
        margin-left: 30px;
    }
}